__pycache__
examples/MERRA2_wind/MERRA2*
examples/outputfiles/*tmp
examples/outputfiles/*.nc
examples/sourcefiles/*.nc
examples/HYCOM_currents
.DS_Store
.idea
examples/ECCO/ECCO_interp
examples/ECCO/ECCO_native
