__pycache__
examples/MERRA2_wind/MERRA2*
examples/ncep_ncar_doe_ii/*.nc
examples/outputfiles/*/
examples/sourcefiles/*.nc
examples/configfiles/*.nc
examples/HYCOM_currents
.DS_Store
.idea
examples/ECCO/ECCO_interp
examples/ECCO/ECCO_native
